body {
    color: black;
    background: #E900EB;
    background: -webkit-linear-gradient(to right, #6455aa 0%, #E900EB);
    background: linear-gradient(to top right, #6455aa, #E900EB);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header__text {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px rgba(90, 67, 192, 0.4);
}