body {
    color: wheat;
    background: #E900EB;
    background: -webkit-linear-gradient(to top right, #391CC1, #E900EB, #87BAFB);
    background: linear-gradient(to top right, #391CC1, #E900EB, #87BAFB);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__text {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    letter-spacing: 2px;
}